<!DOCTYPE html>
<html>

   <head>
      <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBqup-SGwI4RB4VwgEgzA83wU1dOrSTGB4"></script>

      <script>
         function loadMap() {

            var mapOptions = {
               center:new google.maps.LatLng(21.0071246, 105.8016476), zoom:12,
               mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
         }
      </script>

   </head>

   <body onload = "loadMap()">
      <div id = "sample" style = "width:1150px; height:550px;"></div>
   </body>

</html>
