<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layout.footer.about"), static_pages_about_path %></li>
      <li><%= link_to t("layout.footer.contact"), static_pages_contact_path  %></li>
      <li><%= link_to t("layout.footer.new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
