<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layout.header.name_app"), '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layout.header.home"), "#" %></li>
        <li><%= link_to t("layout.header.help"), "#" %></li>
        <li><%= link_to t("layout.header.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
